.drawer-header{
    
}

.drawer-header > .ant-btn {
    padding: 0 !important;
}

.notify-item {
    padding: 5px 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: normal;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.notify-item:hover {
    background-color: #dadada;
}

.notify-item-nonread {
    background-color: #dadada;

}

 .ant-drawer-content-wrapper{
    width: 500px !important;
}

.notify-loadmore{
    margin: 20px 0px
}

.notify-loadmore-btn{
    width: 50% !important
}

@media screen and (max-width: 500px) {
    .ant-drawer-content-wrapper{
        width: 200px !important;
    }
}